
/*
*{
    outline: red 1px solid;
}
*/
body{
  margin:0;
  background:#FFFAF0;
  font-family: "Cormorant SC";
}

/* HEADER */

.header{
  height:120px;
  background:#C0D3C4;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
}

.logo{
    /*display: flex;
    justify-content: center; */
    position: relative;
}

.l1{
    font-size:60px;
    font-family: "Cormorant SC";
    position: relative;
}

.header .logo .l1{
    transform: translate(-50%,-20%);        /*only moves l1*/
}

.l2{
    font-size:50px;
    position: absolute;                     /*anchored to header*/
    font-family: "Homemade Apple";
}

.header .logo .l2{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translate(40%, -20%);
}

/* SIDEBAR */

.sidebar{
  position:absolute;
  top:90px;
  left:40px;
  width:80px;
  height:450px;
  background:#7D9E80;
  background-image: repeating-linear-gradient(
    36deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1) 1px,
    transparent 0px,
    transparent 2px
  );  /*box-shadow: 0px 0px 5px 2px rgba(29, 49, 42, 0.5); */
  border-radius:20px;

  display:flex;
  flex-direction:column;
  justify-content:space-around;
  align-items:center;
}

.icon{
  width:40px;
  color:#FFFAF0;
}

/* BUTTONS */

.button-container{
  margin-top:40px;
  display:flex;
  gap:40px;
  justify-content:center;
}

.main-btn{
  background:#7f9a84;
  background-image: repeating-linear-gradient(
    36deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.1) 1px,
    transparent 0px,
    transparent 2px
  );
  border:none;
  padding:14px 40px;
  border-radius:30px;
  color:white;
  font-size:22px;
  cursor:pointer;

}

/* MAIN */

.main{
  display:flex;
  justify-content:center;
}

.peach{
    position: absolute;
    justify-self: center;
    transform: translate(130%,50%);
    width: 250px;
    z-index: -1;
}


/* LEMONS */

.lemon{
  position:absolute;
  width:160px;
}

.lemon-right{
  right:40px;
  top:30px;
  width: 180px;
  transform: scaleX(-1);
}

.lemon-left{
  bottom:20px;
  left:40px;
}




/* ~~~~~~~~~~~~~~~~~~~~~~~~~ HOMEPAGE ~~~~~~~~~~~~~~~~~~~~~~ */


/* FAVOURITES SECTION */

.homeContent{
  display:flex;
  align-items:flex-start;
  gap:180px;
  margin-left:200px;
  margin-right:100px;
  margin-top:40px;
}

.FAVOURITES{
  display:flex;
  flex-direction:column;
  width:100%;
  flex:1;
}


/* FAVOURITE BOX */
.favourites{
  width:700px;
  height:80px;
  padding:20px;
  background:#7D9E80;
  border-radius:20px;

  display:flex;
  align-items:center;
  gap:20px;
}
/* TEXT */

.favText{
  font-size:25px;
  font-family:"Cormorant SC";
}

/* CIRCLE ITEMS */

.fav{
  width:90px;
  height:90px;
  border-radius:50%;
  background:#DCD4C1;

  display:flex;
  justify-content:center;
  align-items:center;

  font-family:"Montserrat";
  font-size:15px;
}

/* Wallet rectangle */

.walletBox{
  width:380px;
  height:400px;
  background:#7D9E80;
  border-radius:20px;
  padding:20px;

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

/* Wallet text */

.walletTitle{
  font-size:40px;
  font-family:"Homemade Apple";
  color:white;
}

.walletAmount{
  font-size:32px;
  font-family:"Montserrat";
  color:white;
}

.walletDivider {
  width: 90%;           
  border: 0;            
  border-top: 2px solid white; 
  margin: 10px 5px;       
}

.expenseTracker {
  text-align: center;
  width: 200px;
  color:white;
  font-family: "Montserrat";
}


.expenseTracker ul {
  list-style: none;
  padding: 0;
}

.walletTitle,
.walletAmount {
  margin: 0px; /* removes extra space */
  padding: 0px;
}




/* ~~~~~~~~~~~~~~~~~~~~~~~~~ SETTINGS PAGE ~~~~~~~~~~~~~~~~~~~~~~ */
.settings-page {
  height: 100vh;
  background: #FFFAF0;
  overflow: hidden;
}

.settings-page .header .logo{
    transform: translateX(100%);
}

.settings-container {
    margin-left: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative; /* for fruit positions */
    align-items:flex-start;
}


/* Header Card */
.settings-header {
    width: 480px;
    height: 150px;
    padding-left:40px;
    background: #7D9E80;
    border-radius: 20px;
    display: flex;
    gap:80px;
    transform: translateY(-30px);
}

.settings-header h1 {
  font-size: 40px;
  font-family: "Homemade Apple";
  color: white;
}


/* Settings Card */
.settings-card {
  background: #8ea88f;
  width: 480px;
  padding: 25px;
  border-radius: 20px;
  color: #1d3c1d;
  margin-bottom: 50px;
  font-family: "Montserrat";
  font-weight : 500;
}



.budget-input {
  width: 100%;
  padding: 8px;
  margin: 10px 0 15px 0;
}

.category {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.category input {
  width: 120px;
  padding: 6px;
}


.berries { 
    right: 10%; 
    bottom: 20%;
    width: 220px;
    position: absolute;
}
